* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    height: 300px;
    width: 300px;
    background: rgba(226, 23, 47, 0.6);
    margin: 100px auto;
    border: 1px solid salmon;
    transition-duration: 350ms;
}

.box:hover {
    background: rgba(155, 222, 111, 0.8);
    transform: scale(1.2);
}

.box img {
    height: 300px;
    width: 300px;
    transition-duration: 400ms;
}

.box img:hover {
    transform: scale(1.2)
}

.image-container {
    height: 300px;
    width: 300px;
}